<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqdkF3KmjxSvwjyL32n7InlEdhfv5W1Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>810345053412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hwanggwihwan.Project-1971272-hwanggwihwan</string>
	<key>PROJECT_ID</key>
	<string>project-ae576</string>
	<key>STORAGE_BUCKET</key>
	<string>project-ae576.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810345053412:ios:20642a6bee0f57fd2e80f1</string>
</dict>
</plist>